// Mobile
.form {
  margin: 0 auto;
  margin-bottom: 60px;

  // Tablet
  @media (min-width: @tablet-width) {
    width: 668px;
  }

  // Desktop
  @media (min-width: @desktop-width) {
    width: 1220px;
    margin-bottom: 79px;
  }
}

.form__field {
  width: 100%;
  margin: 0 auto;
}

// Button
.form__button-wrapper {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;

  // Tablet
  @media (min-width: @tablet-width) {
    width: 668px;
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
  }

  // Desktop
  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.form__button-submit {
  display: flex;
  // width: 280px;
  // height: 40px;
  padding: 10px 78px 10px 78px;
  align-items: center;
  background: #68b738;
  border: none;

  color: #ffffff;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 21px;

  // Tablet
  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    padding: 14px 65px 14px 65px;
    margin-right: 60px;

    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
  }

  // Desktop
  @media (min-width: @desktop-width) {
    padding: 14px 208px 14px 208px;
    margin-right: 80px;
  }
}

.form__button-text {
  margin: 0;
  color: #000000;
  text-align: center;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;

  // Tablet
  @media (min-width: @tablet-width) {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-top: 17px;
  }
}

// Desktop
// .main-container {
//   width: 1220px;
//   margin: 0 auto;
// }

// .main-container__title-form {
//   margin-bottom: 55px;
// }

// .form__text {
//   width: 323px;
//   color: #000000;
//   font-family: "Oswald", sans-serif;
//   font-size: 20px;
//   font-weight: 400;
//   line-height: 30px;
//   text-transform: uppercase;
//   margin-bottom: 66px;
// }

// .form__field {
//   margin-bottom: 70px;
// }

// .form__field--cat {
//   width: 1220px;
//   display: flex;
//   justify-content: space-between;
//   margin-bottom: 70px;
// }

// .form__field-row {
//   width: 570px;
// }

// .form__row {
//   margin-bottom: 20px;
// }

// .form__row:last-child {
//   margin-bottom: 0;
// }

// .form__label {
//   color: #444444;
//   font-family: "Oswald", sans-serif;
//   font-size: 20px;
//   font-weight: 400;
//   text-transform: uppercase;
//   margin-right: 13px;
// }

// .form__control {
//   color: #444444;
//   font-family: "Oswald", sans-serif;
//   font-size: 20px;
//   font-weight: 400;
//   text-transform: uppercase;
//   /* max-width: 550px; */
//   /* max-width: 100%; */
//   min-width: 410px;
//   border: 1px solid #e7e7e7;
//   padding-top: 11px;
//   padding-bottom: 11px;
//   padding-left: 20px;
//   margin-left: auto;
// }

// .form__title {
//   color: #000000;
//   text-align: left;
//   font-family: "Oswald", sans-serif;
//   font-size: 36px;
//   font-weight: 400;
//   line-height: 36px;
//   margin-top: 0;
//   margin-bottom: 80px;
//   position: relative;
// }

// .form__title::before {
//   content: "";
//   position: absolute;
//   top: 21px;
//   left: -100px;
//   width: 70px;
//   height: 2px;
//   background: #68b738;
// }

// /* Form Button */
// .form__submit {
//   width: 1220px;
//   display: flex;
//   padding-bottom: 9px;
// }

// .form__submit-button {
//   display: flex;
//   width: 570px;
//   height: 54px;
//   padding: 14px 188px;
//   align-items: center;
//   background: #68b738;
//   border: none;
//   margin-right: 80px;

//   color: #ffffff;
//   text-align: center;
//   font-family: "Oswald", sans-serif;
//   font-size: 20px;
//   font-weight: 400;
//   line-height: 26px;
//   text-transform: uppercase;
// }

// .form__submit-text {
//   color: #000000;
//   text-align: center;
//   font-family: "Lato", sans-serif;
//   font-size: 16px;
//   font-weight: 400;
//   line-height: 16px;
// }
