// Mobile
.links__logo {
  width: 128px;
  height: 24px;
  margin: 0 auto;
  margin-bottom: 40px;
  position: relative;
}

.links__logo::after {
  content: "";
  position: absolute;
  background-color: #d9d9d9;
  width: 280px;
  height: 1px;
  left: -73px;
  top: 45px;
}

// .main-header__logo {
//   width: 204px;
//   height: 59px;
//   /* display: flex;
//   justify-content: space-between; */
// }

// .main-header__logo-image-link {
//   text-decoration: none;
// }

// .main-header__logo:hover {
//   opacity: 0.8;
// }

// .main-header__logo-image-link:active {
//   opacity: 0.6;
// }

// .main-header__logo-name-link {
//   width: 100px;
//   height: 50px;
//   padding-left: 11px;
//   text-decoration: none;
// }

// .logo-name__svg {
//   margin: 0 auto;
//   margin-bottom: 19px;
// }
