// Mobile
.main-header {
  margin: 0 auto;
  margin-top: 13px;
  margin-bottom: 15px;

  // Tablet
  @media (min-width: @tablet-width) {
    margin-top: 25px;
    margin-bottom: 65px;
  }

  // Desktop
  @media (min-width: @desktop-width) {
    margin-top: 55px;
    margin-bottom: 74px;
  }
}

.main-header__wrapper {
  // width: 280px;
  // margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding-bottom: 14px;

  // Tablet
  @media (min-width: @tablet-width) {
    // width: 708px;
    // margin: 0 auto;
  }

  // Desktop
  @media (min-width: @desktop-width) {
    // width: 1220px;
    // margin: 0 auto;
  }
}

// .main-header__logo-image {
//   // Tablet
//   @media (min-width: @tablet-width) {
//   }
// }

.main-header__logo-box {
  display: flex;
  justify-content: space-between;
  width: 190px;
  align-items: center;

  // Tablet
  @media (min-width: @tablet-width) {
    width: 174px;
  }

  // Desktop
  @media (min-width: @desktop-width) {
    width: 202px;
  }
}

.main-header__logo-image--link {
  display: block;
  // background-image: url("..//img/logo-mobile.jpg");
  // background-repeat: no-repeat;
  // background-position: center;
  width: 33px;
  height: 38px;

  // Tablet
  @media (min-width: @tablet-width) {
    display: block;
    // background-image: url("..//img/logo-tablet.jpg");
    // background-repeat: no-repeat;
    // background-position: center;
    width: 60px;
    height: 50px;
    // object-fit: cover;
  }

  // Desktop
  @media (min-width: @desktop-width) {
    display: block;
    // background-image: url("..//img/logo-desktop.jpg");
    // background-repeat: no-repeat;
    // background-position: center;
    width: 70px;
    height: 59px;
  }
}

.main-header__logo-name--name {
  display: flex;
  align-items: center;
}

.main-header__logo-state:hover {
  opacity: 0.8;
}

.main-header__logo-state:active {
  opacity: 0.6;
}
