// Mobile
.main-nav__toggle {
  background-image: url("../img/menu-mobile.svg");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-color: #ffffff;
  height: 24px;
  width: 24px;
  border: none;
  outline: none;
  cursor: pointer;
}
