.main-nav {
  position: relative;
  width: auto;
  // min-height: 66px;
  background-color: #ffffff;
}

.main-nav--desktop {
  // Desktop
  @media (min-width: @desktop-width) {
    background: rgba(104, 183, 56, 0.85);
    background-size: 720px 694px;
    background-position: 110px -71px;

    // margin: 0 auto;
    // width: 100%;
    // height: 480px;
    // margin-bottom: 20px;
    // background-image: linear-gradient(
    //   to bottom,
    //   rgba(104, 183, 56, 0.85) 0,
    //   rgba(104, 183, 56, 0.85) 302px,
    //   #ffffff 302px,
    //   #ffffff 100%
    // );
  }
}

.main-nav--closed {
  // display: none;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 9px;
  right: 1px;
  width: 25px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

.main-nav--opened .main-nav__toggle {
  left: auto;
  top: -19px;
  right: 0;
  // background-color: rgb(246, 218, 222);

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 18px;
    right: 1px;
    width: 22px;
    height: 2px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  // Tablet
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav--opened .main-nav__wrapper {
  position: absolute;
  top: 33px;
  // left: -281px;
  right: -40px;
  z-index: 5;
  min-height: 198px;
  background-color: #ffffff;

  min-width: 320px;
  max-width: 767px;
  padding: 0 20px;
  margin: 0 auto;

  // // Tablet
  // @media (min-width: @tablet-width) {
  //   display: none;
  // }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

// Toggle
.main-nav__toggle {
  position: absolute;
  top: -19px;
  right: 135px;
  z-index: 2;
  display: block;
  width: 25px;
  height: 38px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;

  // &:hover,
  // &:active {
  //   background-color: #aeacac;
  // }

  // Tablet
  @media (min-width: @tablet-width) {
    display: none;
  }

  // // Desktop
  // @media (min-width: @desktop-width) {
  //   display: none;
  // }
}

@media (max-width: @mobile-width-only) {
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }

  // .main-nav--nojs .site-list__item--active a {
  //   padding-right: 21px;
  //   padding-left: 21px;
  //   text-align: left;
  // }

  .main-nav--nojs .user-list__item {
    display: block;
    // background-color: #6a4d38;
  }
}

.main-nav__wrapper {
  // Tablet
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 436px;
    margin: 0 auto;
  }

  // Desktop
  @media (min-width: @desktop-width) {
    width: 475px;
  }
}
