// Mobile
.main-header {
  margin: 0 auto;
  margin-top: 13px;
  margin-bottom: 15px;

  // Tablet
  @media (min-width: @tablet-width) {
    margin-top: 25px;
    margin-bottom: 65px;
  }

  // Desktop
  @media (min-width: @desktop-width) {
    margin-top: 55px;
    margin-bottom: 110px;
  }
}

.main-header__wrapper {
  width: 280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding-bottom: 14px;

  // Tablet
  @media (min-width: @tablet-width) {
    width: 704px;
    margin: 0 auto;
  }

  // Desktop
  @media (min-width: @desktop-width) {
    width: 1220px;
    margin: 0 auto;
  }
}

// .main-header__logo-image {
//   // Tablet
//   @media (min-width: @tablet-width) {
//   }
// }

.main-header__logo-image--link {
  display: block;
  background-image: url("..//img/logo-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 33px;
  height: 38px;

  // Tablet
  @media (min-width: @tablet-width) {
    display: block;
    background-image: url("..//img/logo-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 50px;
    // object-fit: cover;
  }

  // Desktop
  @media (min-width: @desktop-width) {
    display: block;
    background-image: url("..//img/logo-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 70px;
    height: 59px;
  }
}

.main-header__logo-name--name {
  display: flex;
  align-items: center;
}

// Desktop
// .main-header {
//   width: 1220px;
//   margin: 0 auto;
//   margin-top: 55px;
//   display: flex;
//   justify-content: space-between;
// }

// .main-nav__wrapper {
//   width: 475px;
//   height: 40px;
// }

// .main-nav__list {
//   padding: 0;
//   width: 475px;
//   display: flex;
//   justify-content: space-between;
//   list-style: none;
// }

// .nav-list__item a {
//   color: #000000;
//   font-family: "Oswald", sans-serif;
//   font-size: 20px;
//   font-weight: 400;
//   line-height: 24px;
//   text-transform: uppercase;
//   text-decoration: none;
// }

// .nav-list__item--current {
//   position: relative;
// }

// .nav-list__item--current::before {
//   content: "";
//   position: absolute;
//   bottom: -10px;
//   left: 0;
//   background-color: #000000;
//   width: 100%;
//   height: 2px;
// }
