// Mobile
.map {
  margin: 0 auto;
}

.map__wrapper--index {
  margin: 0 auto;
  background-image: url("../img/map-mobile.png");
  width: 320px;
  height: 362px;
  object-fit: contain;
  background-repeat: no-repeat;

  // Tablet
  @media (min-width: @tablet-width) {
    margin: 0 auto;
    background-image: url("../img/map-tablet.png");
    width: 768px;
    height: 400px;
    background-repeat: no-repeat;
  }

  // Desktop
  @media (min-width: @desktop-width) {
    margin: 0 auto;
    // position: relative;
    background-image: url("../img/map-desktop.png");
    width: 100%;
    // width: 1440px;
    height: 400px;
    background-repeat: no-repeat;
  }
}

.map__wrapper--form {
  margin: 0 auto;
  width: 320px;
  height: 362px;
}
