// Mobile
.map {
  margin: 0 auto;
}

.map__wrapper--index {
  margin: 0 auto;
  // width: 320px;
  // height: 362px;

  background-image: url("../img/map-mobile.png");
  width: 320px;
  height: 362px;
  object-fit: contain;

  // Tablet
  @media (min-width: @tablet-width) {
    // width: 768px;
    // height: 400px;

    background-image: url("../img/map-tablet.png");
    width: 768px;
    height: 400px;
  }
}

.map__wrapper--form {
  margin: 0 auto;
  width: 320px;
  height: 362px;
}
