/* Slider */
.slider {
  width: 560px;
  position: absolute;
  top: 0;
  right: 0;
  margin-bottom: 85px;
}

.slider__list {
  list-style: none;
  padding: 0;
}

.slider__button {
  position: absolute;
  top: 236px;
  left: 260px;
  background-color: transparent;
  border: none;
  z-index: 1;
}

.slider__button::after {
  content: "";
  position: absolute;
  background-color: #666666;
  display: block;
  width: 4px;
  height: 512px;
  left: 24px;
  top: -232px;
  z-index: -1;
}
