// Mobile
.steps-list {
  margin: 0;
  margin-left: 2px;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  flex-wrap: wrap;

  // Tablet
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    // grid-template-columns: 324px 324px;
    // gap: 37px 137px;
    row-gap: 37px;
    flex-wrap: wrap;
  }

  // Desktop
  @media (min-width: @desktop-width) {
    width: 1220px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.steps-list__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
  position: relative;

  // Tablet
  @media (min-width: @tablet-width) {
    min-height: 280px;
    width: 250px;
    margin: 0;
    display: flex;
    position: relative;

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  // Desktop
  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.steps-list__item:nth-child(n) {
  // Tablet
  @media (min-width: @tablet-width) {
    margin-right: 137px;
  }

  // Desktop
  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.steps-list__item:nth-child(2n) {
  // Tablet
  @media (min-width: @tablet-width) {
    margin-right: 109px;
  }

  // Desktop
  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.steps-list__item:last-child {
  margin-bottom: 0;

  // Desktop
  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

// .steps-list__item::before {
//   content: "";
//   position: absolute;
//   // background-color: #68b738;
//   width: 58px;
//   height: 58px;
//   border: none;
//   outline: 0;
//   top: 0;
//   left: 0;

//   // Tablet
//   @media (min-width: @tablet-width) {
//     position: absolute;
//     background-color: #68b738;
//     width: 80px;
//     height: 80px;
//     border: none;
//     outline: none;
//     top: 40px;
//     left: 0;
//     margin-right: 38px;
//     margin-bottom: 31px;
//   }

//   // // Desktop
//   // @media (min-width: @desktop-width) {
//   // }
// }

.steps-list__icon {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);

  // Tablet
  @media (min-width: @tablet-width) {
    position: absolute;
    top: 78px;
    left: 40px;
  }

  // // Desktop
  // @media (min-width: @desktop-width) {

  // }
}

.steps-list__description {
  margin: 0;
  color: #444444;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding-left: 78px;

  // Tablet
  @media (min-width: @tablet-width) {
    position: absolute;
    left: 0;
    top: 151px;
    padding: 0;

    // min-width: 245px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  // Desktop
  @media (min-width: @desktop-width) {
    top: 151px;
    padding-left: 0;
    // margin-top: 151px;
    margin-bottom: 57px;
  }
}

.steps-list__number {
  visibility: hidden;

  // Tablet
  @media (min-width: @tablet-width) {
    visibility: visible;
    position: absolute;
    top: 0;
    right: 0;
    width: 136px;
    height: 280px;

    color: #f2f2f2;
    text-align: start;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 280px;
    font-weight: 400;
    line-height: 280px;
    z-index: -1;
  }

  // // Desktop
  // @media (min-width: @desktop-width) {
  // }
}
