@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2"), url("../fonts/lato/Lato-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2"), url("../fonts/oswald/oswaldregular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswald/oswaldmedium.woff2") format("woff2"), url("../fonts/oswald/oswaldregular.woff") format("woff");
  font-display: swap;
}
body {
  font-size: 16px;
  line-height: 24px;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 708px;
    padding: 0 30px;
  }
}
@media (min-width: 1300px) {
  .container {
    width: 1220px;
    padding: 0 40px;
  }
}
.button:hover,
.button:active {
  background: #5eaa2f;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
}
.additional {
  margin: 0 auto;
  padding-bottom: 35px;
  position: relative;
}
@media (min-width: 768px) {
  .additional {
    padding-bottom: 75px;
  }
}
.additional::before {
  content: "";
  position: absolute;
  background-color: #d9d9d9;
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
}
@media (min-width: 768px) {
  .additional::before {
    content: none;
  }
}
.additional::after {
  content: "";
  position: absolute;
  background-color: #68b738;
  height: 2px;
  width: 100%;
  top: 40px;
  left: 0;
  z-index: 1;
}
@media (min-width: 768px) {
  .additional::after {
    content: "";
    top: 22px;
  }
}
.additional__wrapper {
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .additional__wrapper {
    width: 708px;
  }
}
@media (min-width: 1300px) {
  .additional__wrapper {
    width: 1220px;
  }
}
.additional__title {
  color: #000000;
  text-align: left;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  z-index: 2;
  display: inline-block;
  padding: 0 20px;
  background-color: #ffffff;
  margin: 25px -20px 36px 0;
}
@media (min-width: 768px) {
  .additional__title {
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    margin: 0;
    margin-bottom: 80px;
  }
}
@media (min-width: 1300px) {
  .additional__box {
    display: flex;
    justify-content: space-between;
  }
}
.additional__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 54px;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .additional__list {
    margin-bottom: 70px;
  }
}
@media (min-width: 1300px) {
  .additional__list {
    margin-bottom: 0;
    width: 895px;
  }
}
.additional__item {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 19px;
}
@media (min-width: 768px) {
  .additional__item {
    margin-bottom: 28px;
  }
}
@media (min-width: 1300px) {
  .additional__item {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    padding-bottom: 17px;
    margin-bottom: 0;
  }
}
.additional__data {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .additional__data {
    margin-top: 26px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1300px) {
  .additional__data {
    width: 611px;
    margin-right: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.additional__item:first-child::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #cdcdcd;
}
.additional__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #cdcdcd;
  left: 0;
  bottom: -19px;
}
@media (min-width: 768px) {
  .additional__item::after {
    content: "";
    bottom: -28px;
  }
}
@media (min-width: 1300px) {
  .additional__item::after {
    content: "";
    bottom: 0;
  }
}
.additional__products {
  color: #222222;
  text-align: left;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  margin-top: 13px;
  margin-bottom: 13px;
}
@media (min-width: 768px) {
  .additional__products {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
  }
}
@media (min-width: 1300px) {
  .additional__products {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
}
.additional__numbers {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .additional__numbers {
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
@media (min-width: 1300px) {
  .additional__numbers {
    width: 285px;
    justify-content: space-between;
  }
}
.additional__amount {
  color: #444444;
  text-align: left;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}
@media (min-width: 768px) {
  .additional__amount {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
    margin: 0;
  }
}
@media (min-width: 1300px) {
  .additional__amount {
    justify-content: flex-start;
  }
}
.additional__price {
  color: #444444;
  text-align: right;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}
@media (min-width: 768px) {
  .additional__price {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
    width: 90px;
  }
}
.additional__button {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #68b738;
  color: #ffffff;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}
@media (min-width: 768px) {
}
@media (min-width: 1300px) {
  .additional__button {
    padding: 10px 92px;
  }
}
.additional__button:hover,
.additional__button:active {
  background: #5eaa2f;
}
.additional__button:active {
  color: rgba(255, 255, 255, 0.3);
}
.additional__gift {
  width: 280px;
  height: 290px;
  display: block;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 0, rgba(104, 183, 56, 0.85) 100%), url("../img/gift-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  .additional__gift {
    width: 707px;
    height: 200px;
    background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 0, rgba(104, 183, 56, 0.85) 100%), url("../img/gift-tablet.png");
    background-position: center;
  }
}
@media (min-width: 1300px) {
  .additional__gift {
    width: 245px;
    height: 288px;
    background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 0, rgba(104, 183, 56, 0.85) 100%), url("../img/gift-desktop.png");
  }
}
.additional__gift-text {
  width: 161px;
  position: absolute;
  top: 187px;
  left: 58px;
  margin: 0;
  color: #ffffff;
  text-align: center;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
@media (min-width: 768px) {
  .additional__gift-text {
    top: 71px;
    left: 421px;
    text-align: left;
  }
}
@media (min-width: 1300px) {
  .additional__gift-text {
    top: 185px;
    left: 42px;
    text-align: center;
  }
}
.additional__gift-icon-svg {
  position: absolute;
  top: 59px;
  left: 101px;
  width: 78px;
  height: 80px;
}
@media (min-width: 768px) {
  .additional__gift-icon-svg {
    top: 57px;
    left: 77px;
  }
}
@media (min-width: 1300px) {
  .additional__gift-icon-svg {
    top: 56px;
    left: 83px;
  }
}
.card {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ebebeb;
}
.card:last-child {
  border-bottom: none;
}
@media (min-width: 768px) {
  .card {
    border-bottom: none;
    padding: 0;
    width: 324px;
  }
}
@media (min-width: 1300px) {
  .card {
    width: 245px;
    margin: 0;
  }
}
.card__wrapper {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 25px 0 25px 0;
}
@media (min-width: 768px) {
  .card__wrapper {
    width: 250px;
    padding: 10px 37px 40px 37px;
    background-image: linear-gradient(to bottom, #ffffff 0, #ffffff 65px, #f2f2f2 65px, #f2f2f2 100%);
  }
}
@media (min-width: 1300px) {
  .card__wrapper {
    width: 169px;
    margin: 0;
    padding: 10px 38px 40px 38px;
  }
}
@media (max-width: 767px) {
  .card__box {
    display: flex;
    flex-direction: row;
    margin-bottom: 17px;
  }
}
.card__wrapper--last {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 25px 0 25px 0;
  margin: 0;
  align-items: center;
}
@media (min-width: 768px) {
  .card__wrapper--last {
    padding: 50px 40px 40px 40px;
    margin: 0;
    background-color: #ffffff;
    background-image: none;
    border: 2px solid #f2f2f2;
  }
}
@media (min-width: 1300px) {
  .card__wrapper--last {
    width: 170px;
    margin: 0;
    padding: 50px 37px 40px 37px;
  }
}
.card__link {
  display: inline-block;
  height: 107px;
  justify-content: center;
}
@media (min-width: 768px) {
  .card__link {
    display: flex;
    align-items: center;
    height: 210px;
    margin: auto;
    margin-bottom: 22px;
  }
}
@media (min-width: 1300px) {
  .card__link {
    margin-bottom: 12px;
  }
}
@media (min-width: 768px) {
  .card__image {
    min-width: 161px;
    max-width: 168px;
    height: auto;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .card__container--text {
    margin-bottom: 32px;
  }
}
.card__title {
  margin: 0;
  width: 76px;
  margin-bottom: 14px;
  color: #222222;
  text-align: left;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .card__title {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 auto;
    margin-bottom: 21px;
    display: flex;
    text-align: center;
    width: 140px;
  }
}
@media (min-width: 1300px) {
  .card__title {
    margin-bottom: 24px;
  }
}
.card__description {
  width: 140px;
  margin-bottom: 4px;
}
@media (min-width: 768px) {
  .card__description {
    width: 100%;
    margin-bottom: 0;
  }
}
.card__row {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .card__row {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #cdcdcd;
  }
}
.card__row:first-child {
  margin-top: 0;
}
@media (min-width: 768px) {
  .card__row:first-child {
    padding-top: 0;
  }
}
@media (min-width: 768px) {
  .card__row:last-child {
    margin-bottom: 0;
    padding-bottom: 10px;
  }
}
.card__spec,
.card__meaning {
  color: #444444;
  text-align: center;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
@media (min-width: 768px) {
  .card__spec,
  .card__meaning {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
}
.card__button {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
  background-color: #68b738;
  color: #ffffff;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}
@media (min-width: 768px) {
  .card__button {
    margin: 0;
  }
}
.card__button:hover,
.card__button:active {
  background-color: #5eaa2f;
}
.card__button:active {
  color: rgba(255, 255, 255, 0.3);
}
.card__svg--last {
  width: 30px;
  min-height: 30px;
  margin-bottom: 23px;
}
@media (min-width: 768px) {
  .card__svg--last {
    width: 60px;
    min-height: 60px;
    margin-bottom: 50px;
  }
}
@media (min-width: 1300px) {
  .card__svg--last {
    margin-bottom: 40px;
  }
}
.card__title--last {
  width: 203px;
  text-align: center;
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  .card__title--last {
    margin-bottom: 23px;
  }
}
@media (min-width: 1300px) {
  .card__title--last {
    margin-bottom: 26px;
    width: 135px;
  }
}
.card__more {
  margin-bottom: 21px;
}
@media (min-width: 768px) {
  .card__more {
    width: 170px;
    margin-bottom: 82px;
  }
}
@media (min-width: 1300px) {
  .card__more {
    margin-bottom: 90px;
  }
}
.card__button-more {
  margin-top: 0;
  width: 100%;
  display: flex;
  padding: 10px 0 10px 0;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  color: #444444;
}
@media (min-width: 768px) {
  .card__button-more {
    padding: 10px 0 10px 0;
  }
}
@media (min-width: 1300px) {
  .card__button-more {
    padding: 10px 0 10px 0;
  }
}
.card__button-more:hover,
.card__button-more:active {
  background: #ebebeb;
  color: #444444;
}
.catalog {
  margin: 0 auto;
  padding-top: 27px;
  border-top: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .catalog {
    padding-top: 0;
    border: none;
  }
}
@media (min-width: 1300px) {
}
.catalog__title-wrapper {
  position: relative;
  margin-bottom: 41px;
}
@media (min-width: 768px) {
  .catalog__title-wrapper {
    margin-bottom: 84px;
  }
}
.catalog__title {
  width: 280px;
  margin: 0 auto;
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  position: relative;
}
@media (min-width: 768px) {
  .catalog__title {
    width: 708px;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
  }
}
@media (min-width: 1300px) {
  .catalog__title {
    margin-left: 0;
  }
}
.catalog__list {
  min-width: 280px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-top: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .catalog__list {
    max-width: 708px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin-bottom: 70px;
    border: none;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1300px) {
  .catalog__list {
    max-width: 1220px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px 63px;
    margin-bottom: 76px;
    border: none;
  }
}
.catalog__card--last {
  display: flex;
  width: 280px;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
@media (min-width: 768px) {
  .catalog__card--last {
    padding: 0;
    justify-content: flex-end;
    width: 100%;
  }
}
@media (min-width: 1300px) {
  .catalog__card--last {
    width: 245px;
  }
}
.cooperation {
  margin: 0 auto;
  background-color: #ffffff;
}
@media (min-width: 1300px) {
  .cooperation {
    max-width: 1220px;
  }
}
.cooperation--index {
  background-color: #ffffff;
  position: relative;
}
.cooperation--form {
  background-color: #f2f2f2;
}
.cooperation--catalog {
  background-color: #f2f2f2;
  position: relative;
}
.cooperation__wrapper {
  width: 280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 26px;
}
@media (min-width: 768px) {
  .cooperation__wrapper {
    width: 709px;
    padding: 0;
  }
}
@media (min-width: 1300px) {
  .cooperation__wrapper {
    background-color: #ffffff;
    width: 411px;
    padding: 60px 78px 60px 80px;
    position: absolute;
    left: 110px;
    top: 95px;
    z-index: 2;
  }
}
.cooperation__title {
  margin: 0;
  color: #111111;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  max-width: 165px;
}
@media (min-width: 768px) {
  .cooperation__title {
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 61px;
    margin-bottom: 61px;
  }
}
@media (min-width: 1300px) {
  .cooperation__title {
    margin: 0;
  }
}
.cooperation__address {
  width: 157px;
  margin: 0;
}
@media (min-width: 768px) {
  .cooperation__address {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
@media (min-width: 1300px) {
  .cooperation__address {
    margin: 0;
  }
}
.cooperation__street,
.cooperation__city {
  margin: 0;
  color: #444444;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
@media (min-width: 768px) {
  .cooperation__street,
  .cooperation__city {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
  }
}
@media (min-width: 768px) {
  .cooperation__street {
    width: 157px;
    margin-bottom: 20px;
  }
}
.copyright {
  width: 280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .copyright {
    width: 168px;
    text-align: right;
    margin: 0;
  }
}
.copyright__text {
  color: #444444;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}
.copyright__logo {
  width: 27px;
  height: 34px;
}
.copyright:hover .copyright__text,
.copyright:active .copyright__text,
.copyright:focus-visible .copyright__text {
  color: #444444;
  outline: none;
}
.copyright:focus-visible {
  outline: none;
}
.copyright:active .copyright__text {
  opacity: 0.3;
}
.copyright:active .links__logo-link:hover .logo-name__bottom:hover path {
  fill: #3e3e3e;
}
.links__logo-link:active .logo-name__bottom:hover path {
  fill: #6b6b6b;
}
.copyright:hover .copyright__svg path,
.copyright:active .copyright__svg path,
.copyright:focus-visible .copyright__svg path {
  fill: #68b738;
  outline: none;
}
.copyright:active .copyright__svg path {
  fill: rgba(104, 183, 56, 0.3);
}
.example {
  margin: 0 auto;
  margin-bottom: 0;
  background-color: #eaeaea;
}
@media (min-width: 1300px) {
  .example {
    background-image: linear-gradient(to bottom, #ffffff 0, #ffffff 135px, #f2f2f2 135px, #f2f2f2 100%);
  }
}
@media (min-width: 768px) {
}
@media (min-width: 1300px) {
  .example__wrapper {
    position: relative;
  }
}
.example__title {
  color: #000000;
  text-align: left;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  padding-top: 25px;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .example__title {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    padding-top: 45px;
    margin-bottom: 60px;
  }
}
@media (min-width: 1300px) {
  .example__title {
    padding-top: 0;
    margin: 0;
    margin-bottom: 76px;
  }
}
@media (min-width: 768px) {
  .example__block {
    position: relative;
    margin-bottom: 116px;
  }
}
@media (min-width: 1300px) {
  .example__block {
    width: 436px;
    display: flex;
    flex-direction: column;
    padding: 70px 784px 75px 0;
    position: relative;
    margin-bottom: 0;
  }
}
.example__description {
  color: #444444;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .example__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 55px;
  }
}
@media (min-width: 1300px) {
  .example__description {
    margin-bottom: 69px;
  }
}
.example__statistics {
  display: flex;
  width: 280px;
  justify-content: space-between;
  margin-bottom: 34px;
}
@media (min-width: 1300px) {
  .example__statistics {
    display: flex;
    width: 366px;
    justify-content: space-between;
    margin-bottom: 60px;
  }
}
.example__item {
  width: 124px;
  height: 56px;
  border: #cdcdcd solid 1px;
  border-radius: 5px;
  position: relative;
}
@media (min-width: 1300px) {
  .example__item {
    width: 160px;
    height: 77px;
    border: #cdcdcd solid 1px;
    border-radius: 5px;
    position: relative;
  }
}
.example__numbers {
  position: absolute;
  top: 14px;
  left: 43px;
  color: #000000;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}
@media (min-width: 1300px) {
  .example__numbers {
    position: absolute;
    top: 15px;
    left: 57px;
    font-size: 30px;
    font-weight: 400;
    line-height: 37px;
  }
}
.example__numbers--days {
  left: 21px;
}
@media (min-width: 1300px) {
  .example__numbers--days {
    left: 31px;
  }
}
.example__text {
  max-width: 77px;
  margin: 0;
  margin-top: 7px;
  position: absolute;
  bottom: -15px;
  left: 13px;
  background-color: #eaeaea;
  padding: 0 10px;
  color: #444444;
  text-align: center;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}
@media (min-width: 1300px) {
  .example__text {
    margin: 0;
    margin-top: 13px;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    position: absolute;
    bottom: -5px;
    left: 30px;
    background-color: #f2f2f2;
    padding: 0 10px;
  }
}
.example__text--weight {
  left: 24px;
}
@media (min-width: 1300px) {
  .example__text--weight {
    left: 38px;
  }
}
.example__expences {
  color: #000000;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  width: 188px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .example__expences {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 0;
    text-align: right;
  }
}
@media (min-width: 1300px) {
  .example__expences {
    margin: 0;
    width: 327px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    position: absolute;
    left: 0;
    bottom: 71px;
  }
}
.explanation {
  margin: 0 auto;
  margin-bottom: 49px;
}
@media (min-width: 1300px) {
  .explanation {
    margin-bottom: 69px;
  }
}
.explanation__wrapper {
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .explanation__wrapper {
    width: 709px;
    margin: 0 auto;
  }
}
@media (min-width: 1300px) {
  .explanation__wrapper {
    width: 1220px;
    margin: 0 auto;
  }
}
.explanation__title {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 40px;
  text-align: left;
}
@media (min-width: 768px) {
  .explanation__title {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 32px;
    text-align: left;
  }
}
.main-footer {
  margin: 0 auto;
  background: #f2f2f2;
  width: 100%;
}
.form {
  margin-bottom: 60px;
}
@media (min-width: 768px) {
}
@media (min-width: 1300px) {
  .form {
    margin-bottom: 79px;
  }
}
@media (min-width: 768px) {
}
.form__wrapper--header {
  padding-top: 27px;
  margin-bottom: 39px;
}
@media (min-width: 768px) {
  .form__wrapper--header {
    margin: 0 auto;
    padding-top: 0;
    margin-bottom: 66px;
  }
}
@media (min-width: 1300px) {
  .form__wrapper--header {
    width: 1220px;
  }
}
.form__wrapper--data {
  margin-bottom: 46px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .form__wrapper--data {
    margin-bottom: 72px;
  }
}
@media (min-width: 1300px) {
  .form__wrapper--data {
    width: 570px;
    margin: 0;
    margin-right: 80px;
    position: relative;
  }
}
.form__wrapper--radio {
  width: 280px;
  margin: 0 auto;
  padding: 22px 21px 19px 20px;
}
@media (min-width: 768px) {
  .form__wrapper--radio {
    width: 628px;
    padding: 23px 52px 27px 27px;
    border: 1px solid #e7e7e7;
  }
}
@media (min-width: 1300px) {
  .form__wrapper--radio {
    width: 510px;
    padding: 26px 31px 26px 28px;
    margin: 0;
    border: 1px solid #e7e7e7;
  }
}
.form__wrapper--contacts {
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .form__wrapper--contacts {
    margin-bottom: 65px;
  }
}
@media (min-width: 1300px) {
  .form__wrapper--contacts {
    margin-bottom: 70px;
  }
}
.form__wrapper--comment {
  margin-bottom: 23px;
}
@media (min-width: 768px) {
  .form__wrapper--comment {
    margin-bottom: 65px;
  }
}
@media (min-width: 1300px) {
  .form__wrapper--comment {
    margin-bottom: 70px;
  }
}
.form__wrapper--checkbox {
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .form__wrapper--checkbox {
    margin-bottom: 52px;
  }
}
@media (min-width: 1300px) {
  .form__wrapper--checkbox {
    margin-bottom: 60px;
  }
}
.form__wrapper--button {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .form__wrapper--button {
    width: 668px;
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
  }
}
@media (min-width: 1300px) {
  .form__wrapper--button {
    width: 1220px;
  }
}
.form__field--contacts,
.form__field--comment,
.form__field--checkbox {
  position: relative;
}
.form__field--contacts::before,
.form__field--comment::before,
.form__field--checkbox::before {
  content: "";
  position: absolute;
  background-color: #68b738;
  height: 2px;
  top: 15px;
  left: 0;
  width: 100%;
  z-index: 1;
}
@media (min-width: 768px) {
  .form__field--contacts::before,
  .form__field--comment::before,
  .form__field--checkbox::before {
    top: 21px;
  }
}
.form__title-main {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  margin-bottom: 37px;
}
@media (min-width: 768px) {
  .form__title-main {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 54px;
  }
}
@media (min-width: 1300px) {
  .form__title-main {
    margin-bottom: 55px;
  }
}
.form__title {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  position: relative;
  z-index: 2;
  display: inline-block;
  background-color: #ffffff;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .form__title {
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
  }
}
.form__title--contacts {
  margin: 0 75px 38px -20px;
}
@media (min-width: 768px) {
  .form__title--contacts {
    margin-bottom: 76px;
  }
}
.form__title--comment {
  margin: 0 -20px 38px -20px;
}
@media (min-width: 768px) {
  .form__title--comment {
    margin-bottom: 87px;
  }
}
@media (min-width: 1300px) {
  .form__title--comment {
    margin-bottom: 78px;
  }
}
.form__title--checkbox {
  margin: 0 -20px 34px -20px;
}
@media (min-width: 768px) {
  .form__title--checkbox {
    margin-bottom: 57px;
  }
}
.form__text {
  width: 226px;
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 39px;
}
@media (min-width: 768px) {
  .form__text {
    width: 323px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
    margin-bottom: 66px;
  }
}
.form__field--header {
  position: relative;
}
.form__field--header::before {
  content: "";
  position: absolute;
  background-color: #d9d9d9;
  width: 100;
  height: 1px;
  top: 0;
  left: 0;
}
@media (min-width: 768px) {
  .form__field--header::before {
    content: none;
  }
}
.form__block {
  margin-bottom: 26px;
}
@media (min-width: 768px) {
  .form__block {
    width: 708px;
    padding: 0 30px;
    margin: 0 auto;
    margin-bottom: 65px;
  }
}
@media (min-width: 1300px) {
  .form__block {
    width: 1220px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
  }
}
@media (min-width: 768px) {
  .form__container {
    padding: 0;
  }
}
@media (min-width: 1300px) {
  .form__container {
    padding: 0;
    margin: 0;
    width: 570px;
  }
}
.form__container-radio {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}
@media (min-width: 768px) {
  .form__container-radio {
    border: none;
  }
}
@media (min-width: 1300px) {
  .form__container-radio {
    width: 570px;
  }
}
.form__row {
  margin-bottom: 14px;
  display: flex;
  position: relative;
}
@media (min-width: 768px) {
  .form__row {
    margin-bottom: 20px;
  }
}
.form__row:last-child {
  margin-bottom: 0;
}
.form__label {
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .form__label {
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
  }
}
.form__label--data {
  display: flex;
  align-items: center;
  margin-right: 13px;
}
.form__control {
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  height: 43px;
  padding-left: 15px;
  padding-right: 15px;
  width: 120px;
  flex-grow: 1;
}
@media (min-width: 768px) {
  .form__control {
    height: 50px;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
  }
}
.form__control:hover {
  border: 1px solid #cdcdcd;
  outline: none;
}
.form__control:focus-visible {
  border: 1px solid #444444;
  box-shadow: 0 0 0 1px #444444;
  outline: none;
}
.form__control:focus-visible + .form__control-svg path {
  stroke: #68b738;
}
.form input::-webkit-outer-spin-button,
.form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
}
input[type="number"] {
  -webkit-appearance: textfield;
          appearance: textfield;
}
.form__list--data {
  margin: 0;
  padding: 0;
  list-style: none;
}
.form__item {
  width: 240px;
  height: 30px;
  margin-bottom: 13px;
  position: relative;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .form__item {
    height: 40px;
    width: 100%;
  }
}
@media (min-width: 1300px) {
  .form__item {
    width: 100%;
  }
}
.form__item:last-child {
  margin-bottom: 0;
}
.form__field--radio {
  position: relative;
}
.form__field--radio::before {
  content: "";
  position: absolute;
  background-color: #d9d9d9;
  height: 1px;
  width: 100%;
  top: -20px;
  left: 0;
}
@media (min-width: 768px) {
  .form__field--radio::before {
    content: "";
    top: 0;
    left: 0;
  }
}
@media (min-width: 1300px) {
  .form__field--radio::before {
    content: none;
  }
}
.form__field--radio::after {
  content: "";
  position: absolute;
  background-color: #d9d9d9;
  width: 100%;
  height: 1px;
  bottom: -19px;
  left: 0;
}
@media (min-width: 768px) {
  .form__field--radio::after {
    content: "";
    bottom: 0;
    left: 0;
  }
}
@media (min-width: 1300px) {
  .form__field--radio::after {
    content: none;
  }
}
.form__list--radio {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.form__label--radio {
  position: relative;
  display: block;
  padding-left: 45px;
}
@media (min-width: 768px) {
  .form__label--radio {
    padding-left: 60px;
  }
}
.form__control-radio {
  position: relative;
}
.form__control-mark {
  position: absolute;
  left: 0;
  top: -3px;
  width: 28px;
  height: 28px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .form__control-mark {
    width: 38px;
    height: 38px;
    top: -5px;
  }
}
.form__control-mark:hover {
  border: 1px solid #bababa;
}
/* Radio Disabled */
.form__item--disabled,
.form__item--checked-disabled {
  opacity: 0.3;
}
.form__control-radio[type="radio"] + .form__control-mark {
  border-radius: 50%;
}
.form__control-radio[type="radio"]:checked + .form__control-mark::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 12px;
  height: 12px;
  background-color: #68b738;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .form__control-radio[type="radio"]:checked + .form__control-mark::after {
    width: 18px;
    height: 18px;
    top: 10px;
    left: 10px;
  }
}
.form__box--contacts {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1300px) {
  .form__box--contacts {
    flex-direction: row;
    justify-content: space-between;
  }
}
.form__row--contacts {
  margin-bottom: 14px;
  display: flex;
}
@media (min-width: 1300px) {
  .form__row--contacts {
    width: 570px;
    margin-bottom: 0;
  }
}
.form__row--contacts:last-child {
  margin-bottom: 0;
}
.form__label--contacts {
  margin-right: 13px;
  display: flex;
  align-items: center;
}
.form__control-svg--email {
  position: absolute;
  right: 12px;
  top: 15px;
}
@media (min-width: 768px) {
  .form__control-svg--email {
    right: 16px;
    top: 19px;
  }
}
@media (min-width: 1300px) {
  .form__control-svg--email {
    right: 16px;
    top: 19px;
  }
}
.form__control-svg--phone {
  position: absolute;
  right: 13px;
  top: 15px;
}
@media (min-width: 768px) {
  .form__control-svg--phone {
    right: 16px;
    top: 19px;
  }
}
@media (min-width: 1300px) {
  .form__control-svg--phone {
    right: 16px;
    top: 19px;
  }
}
.form__control--textarea {
  width: calc(100% - 32px);
  height: 150px;
  resize: none;
  padding-top: 14px;
  padding-bottom: 15px;
}
.form__control--textarea::placeholder {
  opacity: 1;
  color: #444444;
}
.form__list--checkbox {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .form__list--checkbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }
}
@media (min-width: 1300px) {
  .form__list--checkbox {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}
.form__list-item {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .form__list-item {
    margin-bottom: 0;
  }
}
.form__list-item:last-child {
  margin-bottom: 0;
}
.form__label--checkbox {
  position: relative;
  padding-left: 45px;
  display: flex;
}
@media (min-width: 768px) {
  .form__label--checkbox {
    padding-left: 60px;
  }
}
.form__control-label--checkbox {
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 6px;
  padding-bottom: 6px;
}
@media (min-width: 768px) {
  .form__control-label--checkbox {
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
  }
}
.form__control-checkbox {
  position: relative;
}
.form__control-mark--checkbox {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  background-repeat: no-repeat;
  background-position: 7px 7px;
  background-size: 26px;
  border-radius: 0;
}
@media (min-width: 768px) {
  .form__control-mark--checkbox {
    width: 40px;
    height: 40px;
  }
}
/* Checkbox Disabled */
.form__list-item--disabled,
.form__list-item--checked-disabled {
  opacity: 0.3;
}
.form__button-submit {
  display: flex;
  padding: 10px 78px 10px 78px;
  align-items: center;
  background: #68b738;
  border: none;
  color: #ffffff;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 21px;
}
@media (min-width: 768px) {
  .form__button-submit {
    margin-bottom: 0;
    padding: 14px 65px 14px 65px;
    margin-right: 60px;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
  }
}
@media (min-width: 1300px) {
  .form__button-submit {
    padding: 14px 208px 14px 208px;
    margin-right: 80px;
  }
}
.form__button-submit:hover,
.form__button-submit:active {
  background: #5eaa2f;
}
.form__button-submit:active {
  color: rgba(255, 255, 255, 0.3);
}
.form__button-text {
  margin: 0;
  color: #000000;
  text-align: center;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
@media (min-width: 768px) {
  .form__button-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-top: 17px;
  }
}
.form__control--invalid {
  border: 1px solid #ff8282;
  box-shadow: 0 0 0 1px #ff8282;
}
.form__control--invalid + .form__control-svg path {
  border: 1px solid #ff8282;
  box-shadow: 0 0 0 1px #ff8282;
  stroke: #ff8282;
}
.links {
  margin: 0 auto;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .links {
    padding-bottom: 55px;
  }
}
@media (min-width: 1300px) {
  .links {
    padding-bottom: 66px;
  }
}
.links__wrapper {
  margin: 0 auto;
  width: 280px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
@media (min-width: 768px) {
  .links__wrapper {
    width: 708px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 55px;
  }
}
@media (min-width: 1300px) {
  .links__wrapper {
    width: 1220px;
    padding: 0;
    margin-top: 66px;
  }
}
.links__logo {
  width: 128px;
  height: 24px;
  margin: 0 auto;
  margin-bottom: 40px;
  position: relative;
}
@media (min-width: 768px) {
  .links__logo {
    margin: 0;
    display: flex;
    align-content: center;
  }
}
.links__logo::after {
  content: "";
  position: absolute;
  background-color: #d9d9d9;
  width: 280px;
  height: 1px;
  left: -73px;
  top: 45px;
}
@media (min-width: 768px) {
  .links__logo::after {
    content: none;
  }
}
.links__logo-link:hover .logo-name__bottom:hover path {
  fill: #3e3e3e;
}
.links__logo-link:active .logo-name__bottom:hover path {
  fill: #6b6b6b;
}
.main-header__logo:hover {
  opacity: 0.8;
}
.main-header__logo:active {
  opacity: 0.6;
}
.main-header {
  position: relative;
  z-index: 5;
}
@media (min-width: 768px) {
  .main-header {
    padding-top: 25px;
    padding-bottom: 15px;
  }
}
@media (min-width: 1300px) {
  .main-header {
    padding-top: 55px;
  }
}
@media (min-width: 1300px) {
  .main-header--index::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 694px;
    background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 0, rgba(104, 183, 56, 0.85) 694px), url("../img/background-desktop.png");
    background-repeat: no-repeat;
    z-index: 1;
  }
}
.main-header__wrapper {
  position: relative;
}
@media (min-width: 768px) {
  .main-header__wrapper {
    width: 708px;
    margin: 0 auto;
    padding: 0 30px;
    margin-bottom: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1300px) {
  .main-header__wrapper {
    width: 1220px;
    padding: 0 40px;
    margin-bottom: 90px;
  }
}
.main-header__box {
  position: relative;
  width: 280px;
  padding: 13px 20px 15px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .main-header__box {
    padding: 0;
    width: auto;
    margin: 0;
  }
}
.main-header__logo {
  display: flex;
  justify-content: space-between;
  width: 190px;
  align-items: center;
}
@media (min-width: 768px) {
  .main-header__logo {
    width: 174px;
  }
}
@media (min-width: 1300px) {
  .main-header__logo {
    width: 202px;
  }
}
@media (min-width: 768px) {
  .main-header__logo--image {
    width: 60px;
    height: 50px;
    flex-shrink: 0;
  }
}
@media (min-width: 1300px) {
  .main-header__logo--image {
    width: 70px;
    height: 59px;
  }
}
.main-header__logo--name {
  display: flex;
  align-items: center;
}
.main-header__logo:hover {
  opacity: 0.8;
}
.main-header__logo:active {
  opacity: 0.6;
}
.main-header__toggle {
  display: none;
}
@media (max-width: 767px) {
  .main-header__toggle {
    position: absolute;
    top: 13px;
    right: 20px;
    z-index: 2;
    display: block;
    width: 25px;
    height: 38px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 0;
  }
  .main-header__toggle--nojs {
    display: none;
  }
  .main-header__toggle--closed::before {
    content: "";
    position: absolute;
    top: 9px;
    right: 1px;
    width: 25px;
    height: 2px;
    background-color: #000000;
    box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
  }
  .main-header__toggle--opened {
    top: 13px;
    right: 20px;
  }
  .main-header__toggle--opened::before,
  .main-header__toggle--opened::after {
    content: "";
    position: absolute;
    top: 18px;
    right: 1px;
    width: 22px;
    height: 2px;
    background-color: #000000;
  }
  .main-header__toggle--opened::before {
    transform: rotate(45deg);
    box-shadow: none;
  }
  .main-header__toggle--opened::after {
    transform: rotate(-45deg);
  }
}
@media (min-width: 768px) {
  .main-nav {
    z-index: 2;
    position: relative;
    max-width: 436px;
  }
}
@media (min-width: 1300px) {
  .main-nav {
    max-width: 475px;
  }
}
.main-nav--opened {
  position: absolute;
  top: 66px;
  z-index: 5;
  left: 0;
  width: 100%;
  background-color: #ffffff;
}
.main-nav--closed {
  display: none;
}
@media (min-width: 768px) {
  .main-nav--closed {
    display: block;
  }
}
.main-nav--nojs {
  display: block;
}
.main-container {
  margin: 0 auto;
}
.map {
  background-image: url("../img/map-mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 362px;
  background-size: 320px 362px;
}
.map iframe {
  border: none;
  display: block;
  width: 100%;
  height: 362px;
}
@media (min-width: 768px) {
  .map {
    background-image: url("../img/map-tablet.png");
    background-size: 768px 400px;
    height: 400px;
  }
  .map iframe {
    height: 400px;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .map {
    background-image: url("../img/map-tablet@2x.png");
  }
}
@media (min-width: 1300px) {
  .map {
    background-image: url("../img/map-desktop.png");
    background-size: 1440px 400px;
  }
}
.nav-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  border-bottom: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .nav-list {
    justify-content: space-between;
    width: 436px;
    margin: 0 auto;
    flex-direction: row;
    border-bottom: none;
  }
}
@media (min-width: 1300px) {
  .nav-list {
    width: 475px;
    align-content: flex-end;
  }
}
.nav-list__item {
  position: relative;
  border-top: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .nav-list__item {
    border-top: none;
  }
}
@media (min-width: 768px) {
  .nav-list__item--current::after {
    display: block;
    content: "";
    position: absolute;
    outline: 2px solid #68b738;
    width: 100%;
    left: 0;
    bottom: 10px;
  }
}
.nav-list__link:hover {
  opacity: 0.6;
}
.nav-list__link:active::after {
  content: "";
  position: absolute;
  outline: 2px solid #68b738;
  width: 100%;
  left: 0;
  bottom: 10px;
}
.nav-list__link {
  display: block;
  padding-top: 22px;
  padding-bottom: 24px;
  text-align: center;
  flex-wrap: wrap;
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}
@media (min-width: 768px) {
  .nav-list__link {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }
}
@media (min-width: 1300px) {
  .nav-list--index .nav-list__link {
    color: #ffffff;
  }
  .nav-list--index .nav-list__item--current::after {
    outline: 2px solid #ffffff;
  }
}
@media (min-width: 768px) {
}
.program {
  margin: 0 auto;
  width: 100%;
  height: 480px;
  margin-bottom: 20px;
  background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 0, rgba(104, 183, 56, 0.85) 302px, #ffffff 302px, #ffffff 100%);
}
@media (min-width: 768px) {
  .program {
    background-image: none;
    height: 810px;
  }
}
@media (min-width: 1300px) {
  .program {
    height: 470px;
    margin-bottom: 82px;
  }
}
.program__wrapper {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 0, rgba(104, 183, 56, 0.85) 302px), url("../img/background-desktop.png");
  background-repeat: no-repeat;
  background-size: 320px 302px;
  background-position: center top;
}
@media (min-width: 768px) {
  .program__wrapper {
    width: 709px;
    background-image: none;
  }
}
@media (min-width: 1300px) {
  .program__wrapper {
    width: 1220px;
    z-index: 6;
  }
}
.program__block {
  position: relative;
}
@media (min-width: 768px) {
  .program__block {
    width: 416px;
    display: flex;
    flex-direction: column;
    margin-left: 90px;
  }
}
@media (min-width: 1300px) {
}
.program__block-title {
  margin-top: 27px;
  margin-bottom: 25px;
  color: #ffffff;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}
@media (min-width: 768px) {
  .program__block-title {
    margin: 0;
    margin-bottom: 40px;
    color: #000000;
    text-align: left;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
  }
}
.program__block-text {
  width: 198px;
  margin: 0 auto;
  display: flex;
  text-align: center;
  color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  margin-bottom: 302px;
}
@media (min-width: 768px) {
  .program__block-text {
    width: 283px;
    margin: 0;
    margin-bottom: 50px;
    color: #000000;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
  }
}
@media (min-width: 1300px) {
  .program__block-text {
    margin-bottom: 52px;
  }
}
.program__block-button {
  display: block;
  padding: 10px 44px;
  color: #ffffff;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #68b738;
  border: none;
  text-decoration: none;
}
@media (min-width: 768px) {
  .program__block-button {
    display: block;
    bottom: -50px;
    width: 192px;
    padding: 14px 26px;
    color: #ffffff;
    text-align: center;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    background-color: #68b738;
    border: none;
    text-decoration: none;
  }
}
@media (min-width: 1300px) {
}
.program__block-button:hover,
.program__block-button:active {
  background: #5eaa2f;
}
.program__block-button:active {
  color: rgba(255, 255, 255, 0.3);
}
.program__image {
  position: absolute;
  width: 280px;
  height: 270px;
  top: 167px;
  z-index: 2;
  left: 50%;
  transform: translate(-50%);
}
@media (min-width: 768px) {
  .program__image {
    display: inline-block;
    position: absolute;
    width: 709px;
    height: 609px;
    top: 201px;
    right: 10px;
    z-index: -2;
  }
}
@media (min-width: 1300px) {
  .program__image {
    display: inline-block;
    position: absolute;
    width: 552px;
    height: 499px;
    top: -81px;
    left: 786px;
  }
}
.slider {
  width: 280px;
  position: relative;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .slider {
    width: 709px;
    padding-bottom: 101px;
  }
}
@media (min-width: 1300px) {
  .slider {
    position: absolute;
    top: 0;
    right: 110px;
    width: 560px;
    height: 512px;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .before {
    width: 560px;
    height: auto;
  }
}
.slider__list {
  list-style: none;
  padding: 0;
}
@media (min-width: 768px) {
  .slider__list {
    width: 560px;
    height: 512px;
    margin: 0 auto;
    padding: 0 74px 0 74px;
  }
}
@media (min-width: 1300px) {
  .slider__list {
    padding: 0;
  }
}
.slider__button {
  position: absolute;
  top: 109px;
  left: 115px;
  background-color: transparent;
  border: none;
  z-index: 1;
}
.slider__button::after {
  content: "";
  position: absolute;
  background-color: #666666;
  display: block;
  width: 4px;
  height: 256px;
  left: 24px;
  top: -111px;
  z-index: -1;
  border-radius: 2px;
}
.social {
  width: 132px;
  height: 22px;
  margin: 0 auto;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .social {
    margin: 0;
  }
}
.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
}
.social__list::after {
  content: "";
  position: absolute;
  background-color: #d9d9d9;
  width: 280px;
  height: 1px;
  left: -73px;
  top: 45px;
}
@media (min-width: 768px) {
  .social__list::after {
    content: none;
  }
}
.social__link:hover .social__svg path,
.social__link:active .social__svg path,
.social__link:focus-visible .social__svg path {
  fill: #68b738;
}
.social__link:active .social__svg path {
  opacity: 0.3;
}
.social__link:focus-visible {
  outline: none;
}
.steps-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}
@media (min-width: 768px) {
  .steps-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 37px;
    flex-wrap: wrap;
  }
}
@media (min-width: 1300px) {
  .steps-list {
    width: 1220px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.steps-list__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  position: relative;
}
@media (min-width: 768px) {
  .steps-list__item {
    min-height: 280px;
    width: 250px;
    margin: 0;
    display: flex;
    position: relative;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}
@media (min-width: 1300px) {
  .steps-list__item {
    margin: 0;
  }
}
@media (min-width: 768px) {
  .steps-list__item:nth-child(n) {
    margin-right: 137px;
  }
}
@media (min-width: 1300px) {
  .steps-list__item:nth-child(n) {
    margin: 0;
  }
}
@media (min-width: 768px) {
  .steps-list__item:nth-child(2n) {
    margin-right: 109px;
  }
}
@media (min-width: 1300px) {
  .steps-list__item:nth-child(2n) {
    margin: 0;
  }
}
.steps-list__item:last-child {
  margin-bottom: 0;
}
@media (min-width: 1300px) {
  .steps-list__item:last-child {
    margin: 0;
  }
}
.steps-list__item::before {
  content: "";
  position: absolute;
  background-color: #68b738;
  width: 58px;
  height: 58px;
  border: none;
  outline: 0;
  top: 0;
  left: 0;
}
@media (min-width: 768px) {
  .steps-list__item::before {
    position: absolute;
    background-color: #68b738;
    width: 80px;
    height: 80px;
    border: none;
    outline: none;
    top: 40px;
    left: 0;
    margin-right: 38px;
    margin-bottom: 31px;
  }
}
.steps-list__icon {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  .steps-list__icon {
    position: absolute;
    top: 78px;
    left: 40px;
  }
}
.steps-list__description {
  margin: 0;
  color: #444444;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding-left: 74px;
}
@media (min-width: 768px) {
  .steps-list__description {
    position: absolute;
    left: 0;
    top: 151px;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}
@media (min-width: 1300px) {
  .steps-list__description {
    top: 151px;
    padding-left: 0;
    margin-bottom: 57px;
  }
}
.steps-list__number {
  visibility: hidden;
}
@media (min-width: 768px) {
  .steps-list__number {
    visibility: visible;
    position: absolute;
    top: 0;
    right: 0;
    width: 136px;
    height: 280px;
    color: #f2f2f2;
    text-align: start;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 280px;
    font-weight: 400;
    line-height: 280px;
    z-index: -1;
  }
}
.system-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (min-width: 1300px) {
  .system-list {
    width: 1220px;
    flex-direction: row;
    justify-content: space-between;
  }
}
.system-list__item {
  padding: 24px 24px 18px 22px;
  background: #f2f2f2;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .system-list__item {
    padding: 77px 63px 57px 52px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1300px) {
  .system-list__item {
    width: 457px;
    padding: 47px 61px 59px 52px;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
  }
}
.system-list__item:last-child {
  margin-bottom: 0;
}
.system-list__item-case {
  text-decoration: none;
  display: flex;
  margin-bottom: 22px;
  position: relative;
}
@media (min-width: 768px) {
  .system-list__item-case {
    margin: 0;
  }
}
@media (min-width: 1300px) {
  .system-list__item-case {
    margin-bottom: 39px;
  }
}
.system-list__item-box {
  position: relative;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  background-color: #68b738;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .system-list__item-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 200px;
    margin: 0;
  }
}
@media (min-width: 1300px) {
  .system-list__item-box {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #68b738;
    border-radius: 50%;
    margin-right: 62px;
  }
}
.system-list__item-image {
  position: absolute;
}
.system-list__item-image--loose {
  top: -3px;
  left: 7px;
}
@media (min-width: 768px) {
  .system-list__item-image--loose {
    width: 140px;
    height: 194px;
    top: -11px;
    left: 30px;
  }
}
@media (min-width: 1300px) {
  .system-list__item-image--loose {
    top: -6px;
    left: 15px;
    width: 70px;
    height: 97px;
  }
}
.system-list__item-image--gain {
  top: 11px;
  left: -8px;
}
@media (min-width: 768px) {
  .system-list__item-image--gain {
    width: 268px;
    height: 112px;
    top: 44px;
    left: -34px;
  }
}
@media (min-width: 1300px) {
  .system-list__item-image--gain {
    top: 20px;
    left: -19px;
    width: 134px;
    height: 56px;
  }
}
.system-list__item-title {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .system-list__item-title {
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    left: 0;
    top: 0;
    margin-bottom: 24px;
  }
}
@media (min-width: 1300px) {
  .system-list__item-title {
    position: absolute;
    top: 36px;
    left: 162px;
  }
}
.system-list__description {
  color: #000000;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  margin-bottom: 38px;
  position: relative;
}
@media (min-width: 768px) {
  .system-list__description {
    width: 340px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}
@media (min-width: 1300px) {
  .system-list__description {
    width: 100%;
    left: 0;
    top: 0;
    margin-bottom: 27px;
  }
}
.system-list__description::after {
  content: "";
  position: absolute;
  background-color: #d9d9d9;
  height: 1px;
  width: 240px;
  bottom: -23px;
  left: 0;
}
@media (min-width: 768px) {
  .system-list__description::after {
    display: none;
  }
}
.system-list__button {
  position: relative;
}
.system-list__button-link {
  text-decoration: none;
  position: relative;
  color: #000000;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  padding-right: 47px;
}
.system-list__button-link::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 12px;
  top: 5px;
  right: 0;
  background-image: url("../img/arrow-link-state.svg");
  background-position: right 8px center;
  background-repeat: no-repeat;
  transition: background-position 0.3s;
}
@media (min-width: 768px) {
  .system-list__button-link::after {
    top: 1px;
  }
}
.system-list__button-link:hover::after {
  background-position: right 0 center;
  transition: background-position 0.3s;
}
@media (min-width: 768px) {
  .system-list__button-link {
    display: inline-block;
    padding-right: 57px;
    font-size: 20px;
    font-weight: 400;
  }
}
.system {
  margin: 0 auto;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .system {
    margin-bottom: 45px;
  }
}
@media (min-width: 1300px) {
  .system {
    margin-bottom: 71px;
  }
}
.system__wrapper {
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .system__wrapper {
    width: 708px;
  }
}
@media (min-width: 1300px) {
  .system__wrapper {
    width: 1220px;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=style.css.map */
