@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2"), url("../fonts/lato/Lato-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2"), url("../fonts/oswald/oswaldregular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswald/oswaldmedium.woff2") format("woff2"), url("../fonts/oswald/oswaldregular.woff") format("woff");
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.additional {
  margin: 0 auto;
  padding-bottom: 35px;
  position: relative;
}
.additional::before {
  content: "";
  position: absolute;
  background-color: #d9d9d9;
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
}
.additional::after {
  content: "";
  position: absolute;
  background-color: #68b738;
  height: 2px;
  width: 100%;
  top: 40px;
  left: 0;
  z-index: 1;
}
.additional__wrapper {
  width: 280px;
  margin: 0 auto;
}
.additional__title {
  color: #000000;
  text-align: left;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  z-index: 2;
  display: inline-block;
  padding: 0 20px;
  background-color: #ffffff;
  margin: 25px -20px 49px -20px;
}
.additional__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.additional__item {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 31px;
}
.additional__item:first-child::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 280px;
  height: 1px;
  background: #cdcdcd;
}
.additional__item::after {
  content: "";
  position: absolute;
  width: 280px;
  height: 1px;
  background: #cdcdcd;
  left: 0;
  bottom: -19px;
}
.additional__product {
  color: #222222;
  text-align: left;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  margin-top: 13px;
  margin-bottom: 13px;
}
.additional__amount {
  color: #444444;
  text-align: left;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  margin-bottom: 15px;
}
.additional__price {
  color: #444444;
  text-align: right;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  position: absolute;
  right: 0;
  top: 42px;
}
.additional__button {
  width: 280px;
  height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #68b738;
  color: #ffffff;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}
.additional__gift {
  width: 280px;
  height: 290px;
  display: block;
  position: relative;
  background-color: rgba(104, 183, 56, 0.85);
}
.additional__gift--text {
  width: 161px;
  position: absolute;
  top: 187px;
  left: 58px;
  margin: 0;
  color: #ffffff;
  text-align: center;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.additional__gift--image {
  width: 100%;
  object-fit: cover;
}
.additional__gift--icon-svg {
  position: absolute;
  top: 59px;
  left: 101px;
  width: 78px;
  height: 80px;
}
.form__button-wrapper {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
.form__button-submit {
  display: flex;
  width: 280px;
  height: 40px;
  padding: 10px 78px 10px 78px;
  align-items: center;
  background: #68b738;
  border: none;
  color: #ffffff;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 21px;
}
.form__button-text {
  margin: 0;
  color: #000000;
  text-align: center;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
.card {
  position: relative;
  width: 280px;
  display: flex;
  padding-top: 20px;
  padding-bottom: 25px;
  flex-direction: column;
}
.card:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 320px;
  height: 1px;
  background: #ebebeb;
  bottom: 0;
  left: -20px;
}
.card__container {
  display: flex;
}
.card__title-link {
  text-decoration: none;
}
.card__title {
  margin: 0;
  width: 76px;
  margin-bottom: 14px;
  color: #222222;
  text-align: left;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
.card__description {
  width: 140px;
  margin-bottom: 4px;
}
.card__row {
  display: flex;
  justify-content: space-between;
}
.card__row:first-child {
  margin-top: 0;
}
.card__spec,
.card__meaning {
  color: #444444;
  text-align: center;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.card__button {
  margin-top: 17px;
  display: flex;
  width: 280px;
  height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
  background-color: #68b738;
  color: #ffffff;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}
.card__container--last {
  background-color: #ffffff;
  width: 229px;
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 21px;
  align-items: center;
}
.card__svg--last {
  width: 30px;
  min-height: 30px;
  margin-bottom: 23px;
}
.card__title--last {
  width: 100%;
  margin-bottom: 8px;
}
.card__button-more {
  margin-top: 0;
  display: flex;
  width: 90px;
  height: 20px;
  padding: 10px 96px 10px 94px;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  color: #444444;
}
.catalog {
  margin: 0 auto;
  padding-top: 27px;
}
.catalog__title--wrapper {
  position: relative;
  margin-bottom: 41px;
}
.catalog__title--wrapper::before {
  content: "";
  position: absolute;
  background-color: #d9d9d9;
  width: 100%;
  height: 1px;
  top: -27px;
  left: 0;
}
.catalog__title--wrapper::after {
  content: "";
  position: absolute;
  background-color: #d9d9d9;
  width: 100%;
  height: 1px;
  bottom: -41px;
  left: 0;
}
.catalog__title {
  width: 280px;
  margin: 0 auto;
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  position: relative;
}
.catalog__wrapper {
  width: 280px;
  margin: 0 auto;
}
.catalog__list {
  width: 280px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.catalog__card--last {
  display: flex;
  width: 280px;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.checkbox {
  position: relative;
}
.checkbox::before {
  content: "";
  position: absolute;
  background-color: #68b738;
  height: 2px;
  width: 100%;
  top: 15px;
  left: 0;
  z-index: 1;
}
.checkbox__wrapper {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 34px;
}
.checkbox__title {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  position: relative;
  z-index: 2;
  display: inline-block;
  padding: 0 20px;
  background-color: #ffffff;
  margin: 0 -20px 34px -20px;
}
.checkbox__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.checkbox__item {
  margin-bottom: 15px;
}
.checkbox__item:last-child {
  margin-bottom: 0;
}
.checkbox__control-label {
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 6px;
  padding-bottom: 6px;
}
.checkbox__label {
  position: relative;
  padding-left: 45px;
  display: flex;
}
.checkbox__control {
  position: relative;
}
.checkbox__control[type="checkbox"]:checked + .checkbox__control-mark {
  background-image: url("../img/tick.svg");
  background-position: center;
}
.checkbox__control-mark {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  background-repeat: no-repeat;
  background-position: 7px 7px;
  background-size: 26px;
}
.comment {
  position: relative;
}
.comment::before {
  content: "";
  position: absolute;
  background-color: #68b738;
  height: 2px;
  width: 100%;
  top: 15px;
  left: 0;
  z-index: 1;
}
.comment__wrapper {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 23px;
}
.comment__title {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  position: relative;
  z-index: 2;
  display: inline-block;
  padding: 0 20px;
  background-color: #ffffff;
  margin: 0 -20px 38px -20px;
}
.comment__control--textarea {
  min-width: 100%;
  height: 150px;
  border: 1px solid #e7e7e7;
  padding: 0;
  resize: none;
}
.comment__control--textarea::placeholder {
  padding-top: 14px;
  padding-left: 15px;
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
.contacts {
  position: relative;
}
.contacts__wrapper {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 24px;
}
.contacts::before {
  content: "";
  position: absolute;
  background-color: #68b738;
  height: 2px;
  width: 100%;
  top: 15px;
  left: 0;
  z-index: 1;
}
.contacts__title {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  position: relative;
  z-index: 2;
  display: inline-block;
  padding: 0 20px;
  background-color: #ffffff;
  margin: 0 74px 35px -20px;
}
.contacts__field {
  display: flex;
  flex-direction: column;
}
.contacts__row {
  margin-bottom: 14px;
  display: flex;
}
.contacts__row:last-child {
  margin-bottom: 0;
}
.contacts__label {
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 13px;
  display: flex;
  align-items: center;
}
.contacts__control {
  color: #444444;
  font-family: "Oswald", "Arials", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 15px;
  height: 45px;
  border: 1px solid #e7e7e7;
  width: 100%;
}
.contacts__control--email {
  background-image: url("../img/email.svg");
  background-repeat: no-repeat;
  background-position: 196px 13px;
}
.contacts__control--phone {
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  background-position: 167px 13px;
}
.cooperation {
  margin: 0 auto;
  background-color: #ffffff;
}
.cooperation--index {
  background-color: #ffffff;
}
.cooperation--form {
  background-color: #f2f2f2;
}
.cooperation--catalog {
  background-color: #f2f2f2;
}
.cooperation__wrapper {
  width: 280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 26px;
}
.cooperation__title {
  margin: 0;
  width: 140px;
  color: #111111;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
.cooperation__address {
  width: 140px;
  margin: 0;
}
.cooperation__street,
.cooperation__city {
  margin: 0;
  color: #444444;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.copyright {
  width: 280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright__text {
  color: #444444;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}
.copyright__logo {
  width: 27px;
  height: 34px;
}
.data {
  position: relative;
}
.data__wrapper {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 46px;
  display: flex;
  flex-direction: column;
}
.data__row {
  margin-bottom: 14px;
  display: flex;
}
.data__row:last-child {
  margin-bottom: 0;
}
.data__label {
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-right: 13px;
}
.data__control {
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  padding-top: 13px;
  padding-bottom: 12px;
  padding-left: 15px;
  width: 100%;
}
.example {
  margin: 0 auto;
  margin-bottom: 0;
  background-color: #eaeaea;
}
.example__wrapper {
  width: 280px;
  margin: 0 auto;
}
.example__title {
  color: #000000;
  text-align: left;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  padding-top: 25px;
  margin-bottom: 40px;
}
.example__description {
  color: #444444;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  margin-bottom: 20px;
}
.example__statistics {
  display: flex;
  width: 280px;
  justify-content: space-between;
  margin-bottom: 34px;
}
.example__item {
  width: 124px;
  height: 56px;
  border: #cdcdcd solid 1px;
  border-radius: 5px;
  position: relative;
}
.example__numbers {
  position: absolute;
  top: 14px;
  left: 43px;
  color: #000000;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}
.example__numbers--days {
  left: 21px;
}
.example__text {
  max-width: 77px;
  margin: 0;
  margin-top: 7px;
  position: absolute;
  bottom: -15px;
  left: 13px;
  background-color: #eaeaea;
  padding: 0 10px;
  color: #444444;
  text-align: center;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}
.example__text--weight {
  left: 24px;
}
.example__expences {
  color: #000000;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  width: 188px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.explanation {
  margin: 0 auto;
  margin-bottom: 49px;
}
.explanation__wrapper {
  width: 280px;
  margin: 0 auto;
}
.explanation__title {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 40px;
  text-align: left;
}
.explanation__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}
.main-footer {
  margin: 0 auto;
  background: #f2f2f2;
}
.form {
  margin: 0 auto;
}
.form__field {
  width: 100%;
  margin: 0 auto;
}
.header {
  position: relative;
}
.header::before {
  content: "";
  position: absolute;
  background-color: #d9d9d9;
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
}
.header__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-top: 27px;
  margin-bottom: 39px;
}
.header__title {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  margin-bottom: 37px;
}
.header__text {
  width: 226px;
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
.links {
  margin: 0 auto;
  padding-bottom: 40px;
}
.links__wrapper {
  margin: 0 auto;
  width: 280px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.links__logo {
  width: 128px;
  height: 24px;
  margin: 0 auto;
  margin-bottom: 40px;
  position: relative;
}
.links__logo::after {
  content: "";
  position: absolute;
  background-color: #d9d9d9;
  width: 280px;
  height: 1px;
  left: -73px;
  top: 45px;
}
.main-header {
  margin: 0 auto;
  margin-top: 13px;
  margin-bottom: 15px;
}
.main-header__wrapper {
  width: 280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-nav--close {
  display: none;
}
.main-nav__toggle {
  background-image: url("../img/menu-mobile.svg");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-color: #ffffff;
  height: 24px;
  width: 24px;
  border: none;
  outline: none;
  cursor: pointer;
}
.main-container {
  margin: 0 auto;
}
.map {
  margin: 0 auto;
}
.map__wrapper--form {
  margin: 0 auto;
  width: 320px;
  height: 362px;
}
.program {
  margin: 0 auto;
  margin-bottom: 20px;
  background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 0, rgba(104, 183, 56, 0.85) 320px, #ffffff 320px, #ffffff 100%), url("../img/background-desktop.png");
  background-repeat: no-repeat;
  background-size: 302px 320px;
  background-position: center top;
  object-fit: cover;
}
.program__wrapper {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}
.program__block {
  position: relative;
  height: 480px;
}
.program__block-title {
  margin-top: 27px;
  margin-bottom: 25px;
  color: #ffffff;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}
.program__block-text {
  width: 198px;
  margin: 0 auto;
  display: flex;
  text-align: center;
  color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  margin-bottom: 29px;
}
.program__block-button {
  position: absolute;
  bottom: 0;
  width: 192px;
  height: 20px;
  padding: 10px 44px;
  color: #ffffff;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #68b738;
  border: none;
  text-decoration: none;
  margin-top: 3px;
}
.program__image {
  position: absolute;
  width: 280px;
  height: 270px;
  top: 167px;
  left: 0;
}
.radio {
  position: relative;
}
.radio::before {
  content: "";
  position: absolute;
  background-color: #d9d9d9;
  height: 1px;
  width: 100%;
  top: -20px;
  left: 0;
}
.radio::after {
  content: "";
  position: absolute;
  background-color: #d9d9d9;
  width: 100%;
  height: 1px;
  bottom: -19px;
  left: 0;
}
.radio__wrapper {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 45px;
}
.radio__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.radio__item {
  height: 30px;
  margin-bottom: 13px;
  position: relative;
  display: flex;
  align-items: center;
}
.radio__item:last-child {
  margin-bottom: 0;
}
.radio__label {
  position: relative;
  display: block;
  padding-left: 45px;
}
.radio__control {
  position: relative;
}
.radio__control-label {
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
.radio__control-mark {
  position: absolute;
  left: 0;
  top: -5px;
  width: 28px;
  height: 28px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
}
.radio__control[type="radio"] + .radio__control-mark {
  border-radius: 50%;
}
.radio__control[type="radio"]:checked + .radio__control-mark::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 12px;
  height: 12px;
  background-color: #68b738;
  border-radius: 50%;
}
.slider {
  width: 280px;
  position: relative;
  padding-bottom: 40px;
}
.slider__list {
  list-style: none;
  padding: 0;
}
.slider__button {
  position: absolute;
  top: 109px;
  left: 115px;
  background-color: transparent;
  border: none;
  z-index: 1;
}
.slider__button::after {
  content: "";
  position: absolute;
  background-color: #666666;
  display: block;
  width: 4px;
  height: 256px;
  left: 24px;
  top: -111px;
  z-index: -1;
  border-radius: 2px;
}
.social {
  width: 132px;
  height: 22px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.social__list::after {
  content: "";
  position: absolute;
  background-color: #d9d9d9;
  width: 280px;
  height: 1px;
  left: -73px;
  top: 45px;
}
.steps-list__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  position: relative;
}
.steps-list__item:last-child {
  margin-bottom: 0;
}
.steps-list__item::before {
  content: "";
  position: absolute;
  background-color: #68b738;
  width: 58px;
  height: 58px;
  border: none;
  outline: 0;
  top: 0;
  left: 0;
}
.steps-list__icon {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}
.steps-list__description {
  margin: 0;
  color: #444444;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding-left: 74px;
}
.steps-list__number {
  visibility: hidden;
}
.system-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.system-list__item {
  padding: 24px 33px 18px 20px;
  background: #f2f2f2;
  margin-bottom: 20px;
}
.system-list__item:last-child {
  margin-bottom: 0;
}
.system-list__item-link {
  text-decoration: none;
  display: flex;
  margin-bottom: 22px;
}
.system-list__item-box {
  position: relative;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  background-color: #68b738;
  border-radius: 50%;
}
.system-list__item-image {
  position: absolute;
}
.system-list__item-image--loose {
  top: -3px;
  left: 7px;
}
.system-list__item-image--gain {
  top: 11px;
  left: -8px;
}
.system-list__item-title {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  display: flex;
  align-items: center;
}
.system-list__description {
  color: #000000;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  margin-bottom: 38px;
  position: relative;
}
.system-list__description::after {
  content: "";
  position: absolute;
  background-color: #d9d9d9;
  height: 1px;
  width: 240px;
  bottom: -23px;
  left: 0;
}
.system-list__button {
  cursor: pointer;
}
.system-list__button-link {
  text-decoration: none;
}
.system-list__button-title {
  color: #000000;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  margin-right: 15px;
}
.system {
  margin: 0 auto;
  margin-bottom: 20px;
}
.system__wrapper {
  width: 280px;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */
